.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% высоты экрана */
  gap: 20px;
}

.mainButton {
  display: block;           /* чтобы каждая кнопка занимала свою строку */
  width: 400px;             /* задаёт одинаковую ширину */
    height: 70px;
  margin: 10px auto;        /* вертикальный отступ 10px, центрирование по горизонтали */
  padding: 12px 20px;       /* внутренние отступы сверху/снизу и слева/справа */
  font-size: 22px;          /* размер текста */
  font-weight: 700;         /* чуть более жирный шрифт */
  color: #1a1a1a;              /* цвет текста */
  background-color: #747bff;/* синий фон */
  border: none;             /* без рамки */
  border-radius: 8px;       /* скруглённые углы радиусом 8px */
  cursor: pointer;          /* курсор‑рука при наведении */
  transition: background-color 0.5s ease; /* плавный переход при ховере */
}

.mainButton:hover {
  background-color: #212529; /* чуть более тёмный синий при наведении */
    color: white;
}

body{
    background-color: white;
}

.table_name {
    display: flex;
    padding: 0.09375rem 0.9375rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background-color: #747bff;
    color: white;
}

.ant-table-cell {
  border-color: #1a1a1a;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.backButton {
  position: absolute;
  top: 20px;       /* отступ сверху */
  left: 20px;      /* отступ слева */
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #535bf2;
  color: white;
  border: none;
  cursor: pointer;
}

.container {
  position: relative;
}

.buttonRow {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.addButton, .changeButton {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.actionButton:hover {
  background-color: #45a049;
}
